@import "./colors.css";
@import "./typography.css";

:root {
  --reset-button: {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 0;
  }

  --button-style: {
    @apply --h3-text;

    background-color: var(--white-three);
    border: solid 2px #ddd;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 900;
    height: 44px;
    letter-spacing: 0.8px;
    line-height: 1.36;
    text-align: center;
    width: auto;
    text-transform: uppercase;
  }

  --button-style-primary: {
    @apply --button-style;

    background-color: #2d2d2d;
    border: 0;
    color: #fff;
  }
}
