
.container {
  background: white;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  padding: 8px;
  box-sizing: border-box;
  margin: 8px 0;
}

.pill {
  margin-right: 8px;
}

@media (min-width: 1024px) {
  .container {
    white-space: initial;
    padding: 0 8px;
    margin-bottom: 0;
  }
}
