@import "../../styles/typography.css";

.container {
  font-size: 1.25rem; /* 50px, default icon height (based on base font-size 16px) */
  display: inline-block;
  color: currentcolor;
  width: 1em;
  height: 1em;
  box-sizing: border-box;
}

.medium {
  font-size: 1.25rem;
}

.small {
  font-size: 1rem;
}

.container > svg {
  width: 100%;
  height: 100%;
  fill: currentcolor;
}
