@import "../../styles/colors.css";
@import "../../styles/typography.css";
@import "../../styles/viewports.css";
@import "../../styles/icons.css";

.container {
  width: 100%;
  display: flex;
  flex: auto;
  flex-direction: column;
}

.header {

  font-family: futura-pt, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;

  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0 44px 16px 0;
  width: 100%;
  color: #666;
  box-sizing: border-box;
}

.form {
  border-top: 1px solid #ddd;
  display: flex;
  flex: auto;
  flex-direction: column;
}

.field {
  padding-top: 16px;
}

.features {
  font-size: 0.875rem;  font-family: futura-pt, sans-serif; letter-spacing: 0.4px;
  @apply --standard-font-size;

  background-color: #f8f8f8;
  padding: 16px;
}

.proposition {
  line-height: 24px;
}

.propositions + .providers {
  margin-top: 12px;
}

.providers {
  margin-bottom: -8px;
}

.provider {
  border-radius: 2px;
  width: 32px;
  height: 20px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
}

.provider:last-child {
  margin-right: 0;
}

.provider img {
  background-color: #ddd;
  display: block;
  height: 20px;
  margin: 0 auto;
  vertical-align: bottom;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.currency {
  font-size: 0.875rem;  font-family: futura-pt, sans-serif; letter-spacing: 0.4px;
  color: #2d2d2d;
  padding-left: 5px;
}

.label {
  font-size: .875rem;
  letter-spacing: 2px;
  font-weight: 900;

  text-transform: uppercase;
  line-height: 24px;
  color: #666;

}

.label::after {
  content: ":";
}

.label__disabled {
  opacity: 0.5;
}

.select {
  font-size: 0.875rem;  font-family: futura-pt, sans-serif; letter-spacing: 0.4px;
  @apply --standard-font-size;

  appearance: none;
  border-radius: 0;
  width: 100%;
  height: 44px;
  padding: 0 44px 0 16px;
  margin-top: 10px;
  background-color: #fff;
  background-image: svg-inline(sortdown);
  background-position: right 16px center;
  background-repeat: no-repeat;
  border: 1px solid color(#999 a(80%));
  text-overflow: ellipsis;
  overflow: hidden;
}

.select:disabled {
  opacity: 0.5;
}

.select::-ms-expand {
  display: none;
}

.select:focus::-ms-value {
  background: none;
  color: #2d2d2d;
}

.actions {
  flex: auto;
  display: flex;
  align-items: flex-end;
}

.submitButton {
  font-size: 1rem;
  font-family: futura-pt,sans-serif;
  letter-spacing: 2px;
  font-weight: 900;

  text-transform: uppercase;
  width: 100%;
  height: 44px;
  border: none;
  border-radius: 0;
  background-color: #2d2d2d;
  color: #fff;
  margin-top: 30px;
}

.closeButton {
  position: absolute;
  top: 2px;
  right: 16px;
  width: 44px;
  height: 44px;
  background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' height='24' width='24' fill='%232d2d2d'%3E%3Cpath d='M9.97 8.274L2.335.637.637 2.334 8.274 9.97.637 17.607l1.697 1.697 7.637-7.636 7.636 7.636 1.697-1.697-7.636-7.636 7.636-7.637L17.607.637 9.971 8.274z'/%3E%3C/svg%3E") no-repeat center;
  background-size: 20px;
  border: none;

}

.closeButton span {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.error,
.warning {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 11px 30px 13px 63px;
  background: var(--very-light-purple);
  color: #2d2d2d;
  font-size: 14px;
  line-height: 1.57;
}

.error::before,
.warning::before {
  content: "!";
  width: 10px;
  height: 16px;
  border: solid 2px var(--lipstick);
  color: var(--lipstick);
  border-radius: 16px;
  position: absolute;
  left: 30px;
  padding-left: 6px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  top: 14px;
}

.warning {
  background: var(--background-amber);
  position: relative;
  margin: 30px -16px -16px -16px;
}

.warning::before {
  border-color: var(--warning-yellow);
  color: var(--warning-yellow);
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .field {
    padding-bottom: 16px;
  }
}

@media (min-width: 768px) {
  .header {
    @apply --large-font-size;

    letter-spacing: 2.5px;
  }

  .closeButton {
    position: absolute;
    top: 12px;
    right: 32px;
  }

  .warning {
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

@supports (display: grid) {
  .providers {
    display: grid;
    grid-template-columns: repeat(auto-fill, 32px);
    grid-gap: 8px;
    margin-bottom: 0;
  }

  .provider {
    margin-right: 0;
    margin-bottom: 0;
  }
}
