.rn_Faqredirect{}
.rn_Sitemap{}
.sitemap_maindiv{font-size:11px;font-family:Tahoma,Arial,Verdana,sans-serif;margin-bottom:4px;}
.sitemap_maindiv a{color:black;text-decoration:none;}
.sitemap_maindiv a:hover{text-decoration:underline;}
.rn_SearchBox{}
.rn_SimpleSearch{border: 1px solid black;}
.rn_SimpleSearch .rn_SearchField{color:#969696;font-size:18px;}
.rn_AnswerDetail{}
#div_AnswerDetail_Layout_2box_left{display:inline-block;float:left;width:640px;font-size:16px;}
#div_AnswerDetail_Layout_2box_right{display:inline-block;float:right;width:310px;}
#RelatedQuestions_div_main{padding:20px;background-color:#FFF4F3;}
#RelatedQuestions_div_h2{display:inline-block;font-size:18px;font-weight:bold;text-transform:uppercase;text-align:left;width:100%;margin:0px;}
.rn_RelatedAnswers h2{display:inline-block;font-size:18px;font-weight:bold;text-transform:uppercase;text-align:left;width:100%;margin:0px;letter-spacing: 1.5px;}
.RelatedQuestions_div_cell{padding-top:5px;padding-bottom:5px;text-align:left;font-size:16px;}
.RelatedQuestions_div_cell a{color:#2d2d2d;text-decoration:none;}
.RelatedQuestions_div_cell a:hover{text-decoration:underline;}
#div_AnswerDetail_Layout_2box{display:inline-block;width:100%;margin-top:15px;}
#div_AnswerDetail_Layout_Heading{display:inline-block;width:100%;border-top:1px solid #dedede;margin-top:25px;margin-bottom:20px;text-align:center;font-size:18px;}
#div_AnswerDetail_Layout_Heading_maindiv{width:600px;text-align:center;display:inline-block;}
#div_AnswerDetail_Layout_Heading_h1{font-size:28px;font-weight:bold;margin-top:30px;line-height:28px;text-transform: uppercase;letter-spacing: 2.8px;line-height: 32px;}
#div_AnswerDetail_Layout_Heading_h3{font-size:16px;font-weight:normal;margin-top:12px;margin-bottom:0px;color:#999;letter-spacing: 0.5px;}
#rating_heading{display: inline-block;font-size: 18px;font-weight: bold;text-transform: uppercase;text-align: left;width: 100%;margin: 0px;}
#rating_heading_div{display:inline-block;width:100%;margin-bottom:10px;}
#rating_heading_div_rating img{display:inline-block;padding-right:10px;}
#share_heading{display: inline-block;font-size: 18px;font-weight: bold;text-transform: uppercase;text-align: left;width: 100%;margin: 0px;letter-spacing:2px;color:#2d2d2d;}
#share_heading_div{display:inline-block;width:100%;margin-bottom:10px;}
#share_heading_div_rating img{display:inline-block;padding-right:10px;}
#div_AnswerDetail_Layout_2box_left_rating{margin-top:17px;margin-bottom:35px;}
#div_AnswerDetail_Layout_2box_left_share{margin-bottom:35px;}
.rn_RelatedAnswers a{padding:0px;background-image:none;}
.rn_RelatedAnswers{padding-top:0px;}
#share_email{display:inline-block;float:left;margin-right:14px;}
#share_social{display:inline-block;float:left;margin-right:26px;}
#share_print{display:inline-block;float:left;}
#div_AnswerDetail_Layout_2box_left_in ul{list-style: outside none disc;margin-left: 20px;}
#div_AnswerDetail_Layout_2box_left_in ul li{list-style: outside none disc;display: list-item;list-style:disc;}
#div_AnswerDetail_Layout_2box_left_in ul li[style]{list-style: outside none disc;display: list-item;list-style-type: disc;list-style:disc;}
#div_AnswerDetail_Layout_2box_left_in ul[style]{list-style: outside none disc;display: list-item;list-style-type: disc;list-style:disc;}
#CustomEmailShare_DivLocation_main{display:inline-block;margin-top:20px;width:100%;}
#pos_top1{display:none;}
#pos_left1{display:none;}
#yourordersbox_div{margin-top:20px;}
#div_AnswerDetail_Layout_2box_left_in{letter-spacing:0.5px;line-height: 24px;}
#div_AnswerDetail_Layout_2box_left_in span[style]{color:#2d2d2d !important;text-decoration:none !important;}
#div_AnswerDetail_Layout_Heading_maindiv{width: 70%;}
#div_AnswerDetail_Layout_2box_left{width: 70%;}
#div_AnswerDetail_Layout_2box_right{width: 25%;}
.rn_AskButtons{}
#AskButtons_Heading{font-size: 20px;line-height: 22px;font-weight: bold;text-transform: uppercase;width: 100%;text-align: center;letter-spacing: 2px;}
#AskButtons_ButtonsDiv{display: inline-block;width: 810px;margin-top: 27px;margin-bottom: 20px;margin-left: 12px;}
#AskButtons_ButtonsDiv div{display: inline-block;}
#AskButtons_MainDiv{display: inline-block;text-align: center;width: 100%;}
#AskButtons_ButtonsDiv div a{text-transform: uppercase;font-size: 14px;text-decoration: none;text-align: left;margin-right: 20px;letter-spacing: 1.4px;}
#AskButtons_askaq{background-color: rgb(147, 97, 180);width: 220px;background-repeat: no-repeat;background-position: 10px center;color: white;border: 2px solid rgb(147, 97, 180);padding-left: 52px;padding-right: 20px;padding-top: 13px;padding-bottom: 14px;display: inline-block;}
#AskButtons_tweet{background-color: white;width: 220px;background-repeat: no-repeat;background-position: 10px center;color: black;border: 2px solid rgb(181, 181, 181);padding-left: 52px;padding-right: 20px;padding-top: 14px;padding-bottom: 14px;display: inline-block;}
#AskButtons_faceb{background-color: white;width: 220px;background-repeat: no-repeat;background-position: 10px center;color: black;border: 2px solid rgb(181, 181, 181);padding-left: 52px;padding-right: 20px;padding-top: 14px;padding-bottom: 14px;display: inline-block;}
#AskButtons_chat_avail{background-color: black;width: 220px;background-repeat: no-repeat;background-position: 10px center;color: white;border: 2px solid black;padding: 8px 20px;padding-top: 11px;padding-bottom: 10px;position: relative;top: 4px;padding-left: 52px;display: inline-block;}
#AskButtons_chat_avail_un{background-color: rgb(173, 173, 173);width: 220px;background-repeat: no-repeat;background-position: 10px center;color: white;border: 2px solid rgb(173, 173, 173);padding: 8px 20px;padding-top: 11px;padding-bottom: 10px;position: relative;top: 4px;padding-left: 52px;display: inline-block;}
.align_chattxt{position: relative;top: -4px;left: 7px;}
.tdiv{margin-bottom: 20px;}
.in_txt{}
.rn_ConditionalChatLink a{display: none;}
#AskButtons_chat_avail_un{display: inline-block;}
#AskButtons_chat_avail{display: inline-block;}
#AskButtons_ButtonsDiv div a{text-transform: uppercase;font-size: 14px;text-decoration: none;text-align: left;margin-right: 20px;letter-spacing: 1.4px;padding-left: 25px;padding-right: 25px;background-position: 20px 13px;}
#div_AskButtons_chat_avail a{}
#AskButtons_chat_avail{background-color: black;width: 220px;background-repeat: no-repeat;background-position: 10px center;color: white;border: 2px solid black;padding-top: 11px;padding-bottom: 8px;position: relative;top: 4px;display: inline-block;font-weight: bold;}
#div_AskButtons_chat_avail .in_txt{display: inline-block;width: 100%;text-align: center;padding-top: 3px;padding-bottom: 0px;background-repeat: no-repeat;background-position: 18px 0px;}
.tdiv img{display: none;}
#AskButtons_askaq{background-color: rgb(147, 97, 180);width: 230px;background-repeat: no-repeat;color: white;border: 2px solid rgb(147, 97, 180);padding-left: 52px;padding-right: 20px;padding-top: 10px;padding-bottom: 12px;display: inline-block;font-weight: bold;}
.in_txt{display: inline-block;width: 100%;text-align: center;}
#AskButtons_ButtonsDiv div #AskButtons_askaq{background-position: 20px 12px;}
#AskButtons_tweet{background-size: 24px;}
#AskButtons_faceb{}
#AskButtons_ButtonsDiv{width: auto;}
#AskButtons_ButtonsDiv #AskButtons_faceb{width: 240px;}
#AskButtons_ButtonsDiv #AskButtons_tweet{width: 240px;}
#AskButtons_ButtonsDiv div a{width: 240px;}
.in_txt{font-weight: bold;}
#AskButtons_ButtonsDiv div #AskButtons_faceb{background-position: 20px 8px;padding-top: 11px;padding-bottom: 11px;}
#AskButtons_ButtonsDiv div #AskButtons_tweet{background-position: 20px 8px;padding-top: 11px;padding-bottom: 11px;}
.bdiv .in_btn_3{margin-bottom: 20px;}
.rn_SimpleSearch{position:relative;}
.rn_SimpleSearch .rn_SearchField{width:97%;}
.rn_SimpleSearch .rn_SearchImage{border:none;padding:0;position:absolute;right:0.2em;top:0.46em;*right:0.28em;*top:0.6em;}
.rn_SimpleSearch{margin:auto;max-width:400px;width:400px;background-color:white;height:46px;}
.rn_SimpleSearch form{background-color:#FFF;border:1px solid #B1B1B1;}
.rn_SimpleSearch .rn_SearchField{height:43px;margin-top:0px;width:350px;padding-left: 10px;border-width: 1px;border-style: solid;border-color: white;-moz-border-top-colors: none;-moz-border-right-colors: none;-moz-border-bottom-colors: none;-moz-border-left-colors: none;border-image: none;float:right;font-size:18px;padding-top:0px;margin-left:-10px;letter-spacing: 1px;}
.rn_SimpleSearch .rn_SearchImage{position: absolute;left: 0px;top: 0px;padding-top:1px;}
.rn_SearchBoxWidget.rn_SimpleSearch{}
.rn_AnswerFeedback{padding-bottom: 12px;}
.rn_AnswerFeedbackDialog{width:375px;border:1px solid black;background-color: white;padding: 20px;font-size:16px;}
.rn_AnswerFeedback .rn_Title{margin-bottom: 8px;font-size: 16px;line-height: 1.4em;text-transform: uppercase;font-family:"futura-pt",Tahoma, Arial, Verdana, Sans-Serif;border-top: 1px dotted rgb(136, 136, 136);padding-top: 21px;font-weight: bold;letter-spacing: 0.3px;}
.rn_ThanksLabel{font-size: 14px;position: relative;display: inline-block;top: 10px;}
.rn_RatingMeter{margin-left:-6px;}
.rn_AnswerFeedback .rn_RatingMeter a.rn_RatingCell{background:url(../../themes/ASOSDeskUIV2/images/RatingStars.png) 0 0 no-repeat;display: -moz-inline-box;display: inline-block;height:18px;margin:4px 0;text-decoration:none;width:20px;margin-left:6px;}
.rn_HighContrastMode .rn_AnswerFeedback .rn_RatingMeter a.rn_RatingCell:before{content: "\2606";}
.rn_AnswerFeedback .rn_RatingMeter a.rn_RatingCellOver{background-position:0px -18px;cursor:pointer;}
.rn_HighContrastMode .rn_AnswerFeedback .rn_RatingMeter a.rn_RatingCellOver:before{content: "\2605";}
.rn_AnswerFeedbackForm .rn_DialogSubtitle{margin-bottom:6px;text-align:left;}
.rn_AnswerFeedbackForm label{clear:left;display:block;}
.rn_AnswerFeedbackForm .rn_EmailField{clear:left;display:block;margin-bottom:1em;width:200px;}
.rn_AnswerFeedbackForm .rn_Textarea{clear:left;display:block;margin-bottom:1em;width:340px;}
.yui3-button{background-color: rgb(228,228,228);color: black;padding: 7px 30px;font-size: 14px;border-radius: 0px 0px 0px 0px;text-decoration: none;margin-top: 0px;display: block;float:right;margin-left:10px;text-align:center;font-weight:normal;margin-right:10px;margin-top:10px;border:1px solid white;}
.yui3-button-primary{*width:auto;*overflow:visible;background-color: black;border: 1px solid rgb(48, 71, 100);color: rgb(255, 255, 255);cursor: pointer;font-size: 14px;font-family:"futura-pt",Tahoma, Arial, Verdana, Sans-Serif;margin-right: 6px;text-decoration: none;display: inline-block;float: left;padding: 10px 15px;margin-top: 4px;-webkit-appearance: none;-webkit-border-radius: 0;float:left;}
input[type="submit"], button{background-color: white;color: black;border: 3px solid black;padding: 7px 10px;font-size: 14px;border-radius: 0px 0px 0px 0px;text-decoration: none;margin-top: 0px;display: block;width: 75px;text-align: center;font-weight:bold;}
.yui3-button-close{color:white;background-color: white;margin-top:0px;}
@media print{.rn_AnswerFeedback{display:none;}
}
.rn_AnswerFeedbackForm .rn_ErrorMessage a{font-size:14px;}
#rn_CustomAnswerFeedback_4_RatingCell_1{background:url(../../themes/ASOSDeskUIV2/images/rating/rate1.png) 0 0 no-repeat;width:40px;height:40px;margin-right:10px;}
#rn_CustomAnswerFeedback_4_RatingCell_1:hover{background:url(../../themes/ASOSDeskUIV2/images/rating/rate1_hover.png) 0 0 no-repeat;width:40px;height:40px;}
#rn_AnswerFeedback_4_RatingCell_2{background:url(../../themes/ASOSDeskUIV2/images/rating/rate2.png) 0 0 no-repeat;width:40px;height:40px;margin-right:10px;}
#rn_AnswerFeedback_4_RatingCell_2:hover{background:url(../../themes/ASOSDeskUIV2/images/rating/rate2_hover.png) 0 0 no-repeat;width:40px;height:40px;}
#rn_AnswerFeedback_4_RatingCell_3{background:url(../../themes/ASOSDeskUIV2/images/rating/rate3.png) 0 0 no-repeat;width:40px;height:40px;margin-right:10px;}
#rn_AnswerFeedback_4_RatingCell_3:hover{background:url(../../themes/ASOSDeskUIV2/images/rating/rate3_hover.png) 0 0 no-repeat;width:40px;height:40px;}
#rn_AnswerFeedback_4_RatingCell_4{background:url(../../themes/ASOSDeskUIV2/images/rating/rate4.png) 0 0 no-repeat;width:40px;height:40px;margin-right:10px;}
#rn_AnswerFeedback_4_RatingCell_4:hover{background:url(../../themes/ASOSDeskUIV2/images/rating/rate4_hover.png) 0 0 no-repeat;width:40px;height:40px;}
#rn_AnswerFeedback_4_RatingCell_5{background:url(../../themes/ASOSDeskUIV2/images/rating/rate5.png) 0 0 no-repeat;width:40px;height:40px;margin-right:10px;}
#rn_AnswerFeedback_4_RatingCell_5:hover{background:url(../../themes/ASOSDeskUIV2/images/rating/rate5_hover.png) 0 0 no-repeat;width:40px;height:40px;}
.rn_Answer_Feedback.rn_AnswerFeedback{}
.rn_AnswerFeedback{padding-bottom: 12px;}
.rn_AnswerFeedbackDialog{width: 450px;border: 1px solid white;background-color: white;font-size: 16px;padding: 0px;}
.rn_Title{margin-bottom: 8px;font-size: 16px;line-height: 1.4em;text-transform: uppercase;font-family: "futura-pt", Tahoma, Arial, Verdana, Sans-Serif;padding-top: 21px;font-weight: bold;letter-spacing: 0.3px;padding: 0px;}
.rn_ThanksLabel{font-size: 14px;position: relative;display: inline-block;top: 10px;}
.rn_RatingMeter{margin-left: -6px;}
.rn_AnswerFeedback .rn_RatingMeter a.rn_RatingCell{background: url(../images/RatingStars.png) 0 0 no-repeat;display: -moz-inline-box;display: inline-block;height: 18px;margin: 4px 0;text-decoration: none;width: 20px;margin-left: 6px;}
.rn_HighContrastMode .rn_AnswerFeedback .rn_RatingMeter a.rn_RatingCell:before{content: "\2606";}
.rn_AnswerFeedback .rn_RatingMeter a.rn_RatingCellOver{background-position: 0px -18px;cursor: pointer;}
.rn_HighContrastMode .rn_AnswerFeedback .rn_RatingMeter a.rn_RatingCellOver:before{content: "\2605";}
.rn_AnswerFeedbackForm .rn_DialogSubtitle{margin-bottom: 6px;text-align: left;}
.rn_AnswerFeedbackForm label{clear: left;display: block;margin-bottom: 15px;text-transform: uppercase;font-size: 15px;letter-spacing: 1px;font-weight: bold;}
.rn_AnswerFeedbackForm .rn_EmailField{clear: left;display: block;margin-bottom: 1em;width: 420px;padding: 10px;}
.rn_AnswerFeedbackForm .rn_Textarea{clear: left;display: block;margin-bottom: 1em;width: 420px;padding: 10px;}
.yui3-button{color: black;padding: 7px 30px;font-size: 16px;border-radius: 0px 0px 0px 0px;text-decoration: none;margin-top: 0px;display: block;float: right;margin-left: 10px;text-align: center;font-weight: normal;margin-right: 10px;margin-top: 10px;border: 1px solid white;text-decoration: underline;}
.yui3-button-primary{*width: auto;*overflow: visible;background-color: black;border: 1px solid rgb(48, 71, 100);color: rgb(255, 255, 255);cursor: pointer;font-size: 14px;font-family: "futura-pt", Tahoma, Arial, Verdana, Sans-Serif;margin-right: 6px;text-decoration: none;display: inline-block;float: right;padding: 10px 15px;margin-top: 4px;-webkit-appearance: none;-webkit-border-radius: 0;width: 180px;font-size: 16px;text-transform: uppercase;}
input[type="submit"], button{background-color: white;color: black;border: 3px solid black;padding: 7px 10px;font-size: 14px;border-radius: 0px 0px 0px 0px;text-decoration: none;margin-top: 0px;display: block;width: 75px;text-align: center;font-weight: bold;}
.yui3-button-close{color: white;background-color: white;margin-top: 0px;}
@media print{.rn_AnswerFeedback{display: none;}
}
.rn_CustomAnswerFeedback.rn_AnswerFeedback{}
#rn_Answer_Feedback_6_RatingCell_1{background: url(../../themes/ASOSDeskUIV2/images/rating/rate1.jpg) 0 0 no-repeat;width: 40px;height: 40px;margin-right: 10px;display: inline-block;float: left;}
#rn_Answer_Feedback_6_RatingCell_1:hover{background: url(../../themes/ASOSDeskUIV2/images/rating/rate1_h.jpg) 0 0 no-repeat;width: 40px;height: 40px;}
#rn_Answer_Feedback_6_RatingCell_2{background: url(../../themes/ASOSDeskUIV2/images/rating/rate2.jpg) 0 0 no-repeat;width: 40px;height: 40px;margin-right: 10px;display: inline-block;float: left;}
#rn_Answer_Feedback_6_RatingCell_2:hover{background: url(../../themes/ASOSDeskUIV2/images/rating/rate2_h.jpg) 0 0 no-repeat;width: 40px;height: 40px;}
#rn_Answer_Feedback_6_RatingCell_3{background: url(../../themes/ASOSDeskUIV2/images/rating/rate3.jpg) 0 0 no-repeat;width: 40px;height: 40px;margin-right: 10px;display: inline-block;float: left;}
#rn_Answer_Feedback_6_RatingCell_3:hover{background: url(../../themes/ASOSDeskUIV2/images/rating/rate3_h.jpg) 0 0 no-repeat;width: 40px;height: 40px;}
#rn_Answer_Feedback_6_RatingCell_4{background: url(../../themes/ASOSDeskUIV2/images/rating/rate4.jpg) 0 0 no-repeat;width: 40px;height: 40px;margin-right: 10px;display: inline-block;float: left;}
#rn_Answer_Feedback_6_RatingCell_4:hover{background: url(../../themes/ASOSDeskUIV2/images/rating/rate4_h.jpg) 0 0 no-repeat;width: 40px;height: 40px;}
#rn_Answer_Feedback_6_RatingCell_5{background: url(../../themes/ASOSDeskUIV2/images/rating/rate5.jpg) 0 0 no-repeat;width: 40px;height: 40px;margin-right: 10px;display: inline-block;float: left;}
#rn_Answer_Feedback_6_RatingCell_5:hover{background: url(../../themes/ASOSDeskUIV2/images/rating/rate5_h.jpg) 0 0 no-repeat;width: 40px;height: 40px;}
#pos_left{display: none;}
#pos_top{display: none;}
.rn_DialogSubtitle{display: none;}
.yui3-widget-buttons{display: none;}
.yui3-widget-ft .yui3-widget-buttons{display: inline-block;width: 100%;}
form{font-size: 16px;}
.yui3-widget-hd span{font-size: 15px;letter-spacing: 1px;font-weight: bold;text-transform: uppercase;}
#rn_CustomAnswerFeedback_4_RatingCell_1{background: url(images/rating/rate1.png) 0 0 no-repeat;width: 34px;height: 34px;margin-right: 10px;display: inline-block;float: left;background-size: 34px;}
#rn_CustomAnswerFeedback_4_RatingCell_1:hover{background: url(images/rating/rate1_hover.png) 0 0 no-repeat;width: 34px;height: 34px;background-size: 34px;}
#rn_CustomAnswerFeedback_4_RatingCell_2{background: url(images/rating/rate2.png) 0 0 no-repeat;width: 34px;height: 34px;margin-right: 10px;display: inline-block;float: left;background-size: 34px;}
#rn_CustomAnswerFeedback_4_RatingCell_2:hover{background: url(images/rating/rate2_hover.png) 0 0 no-repeat;width: 34px;height: 34px;background-size: 34px;}
#rn_CustomAnswerFeedback_4_RatingCell_3{background: url(images/rating/rate3.png) 0 0 no-repeat;width: 34px;height: 34px;margin-right: 10px;display: inline-block;float: left;background-size: 34px;}
#rn_CustomAnswerFeedback_4_RatingCell_3:hover{background: url(images/rating/rate3_hover.png) 0 0 no-repeat;width: 34px;height: 34px;background-size: 34px;}
#rn_CustomAnswerFeedback_4_RatingCell_4{background: url(images/rating/rate4.png) 0 0 no-repeat;width: 34px;height: 34px;margin-right: 10px;display: inline-block;float: left;background-size: 34px;}
#rn_CustomAnswerFeedback_4_RatingCell_4:hover{background: url(images/rating/rate4_hover.png) 0 0 no-repeat;width: 34px;height: 34px;background-size: 34px;}
#rn_CustomAnswerFeedback_4_RatingCell_5{background: url(images/rating/rate5.png) 0 0 no-repeat;width: 34px;height: 34px;margin-right: 10px;display: inline-block;float: left;background-size: 34px;}
#rn_CustomAnswerFeedback_4_RatingCell_5:hover{background: url(images/rating/rate5_hover.png) 0 0 no-repeat;width: 34px;height: 34px;}
#title_related{font-size: 14px;text-transform: uppercase;line-height: 24px;letter-spacing: 1.5px;color: #2f2f2f;font-weight: bold;text-align: center;}
.rn_AnswerFeedback .rn_Title{border: none;padding-top: 0px;letter-spacing: 2px;font-size: 18px;}
.rn_AnswerFeedbackForm form{margin-top: 30px;width: 375px;}
#customlink{background-color: #000;border: 1px solid #304764;color: #FFF;cursor: pointer;font-family: "futura-pt", Tahoma, Arial, Verdana, sans-serif;text-decoration: none;display: inline-block;padding: 10px 15px;margin-top: 4px;width: 180px;font-size: 16px;text-transform: uppercase;width: 153px;text-align: center;float: left;}
#customlink_cancel{color: #000;padding: 7px 30px;font-size: 16px;border-radius: 0px;display: block;margin-left: 10px;text-align: center;font-weight: normal;margin-right: 10px;margin-top: 10px;border: 1px solid #FFF;text-decoration: underline;width: 50px;text-align: center;float: left;}
#buttons_div{display: inline-block;float: right;}
#buttons_bootom_div{display: inline-block;margin-top: 15px;}
#div_AnswerDetail_Layout_2box_left_rating{width: 530px;}
#div_main_btns{width: 444px;}
.rn_MessageBox{margin-top: 15px;}
#loadingDiv{width: 100%;}
#loadingDiv_in{display: inline-block;width: 365px;text-align: right;padding-top: 10px;margin-right: 10px;}
#rn_Answer_Feedback_7_RatingCell_1{background: url(../../themes/ASOSDeskUIV2/images/rating/rate1.jpg) 0 0 no-repeat;width: 40px;height: 40px;margin-right: 10px;display: inline-block;float: left;}
#rn_Answer_Feedback_7_RatingCell_1:hover{background: url(../../themes/ASOSDeskUIV2/images/rating/rate1_h.jpg) 0 0 no-repeat;width: 40px;height: 40px;}
#rn_Answer_Feedback_7_RatingCell_2{background: url(../../themes/ASOSDeskUIV2/images/rating/rate2.jpg) 0 0 no-repeat;width: 40px;height: 40px;margin-right: 10px;display: inline-block;float: left;}
#rn_Answer_Feedback_7_RatingCell_2:hover{background: url(../../themes/ASOSDeskUIV2/images/rating/rate2_h.jpg) 0 0 no-repeat;width: 40px;height: 40px;}
#rn_Answer_Feedback_7_RatingCell_3{background: url(../../themes/ASOSDeskUIV2/images/rating/rate3.jpg) 0 0 no-repeat;width: 40px;height: 40px;margin-right: 10px;display: inline-block;float: left;}
#rn_Answer_Feedback_6_RatingCell_3:hover{background: url(../../themes/ASOSDeskUIV2/images/rating/rate3_h.jpg) 0 0 no-repeat;width: 40px;height: 40px;}
#rn_Answer_Feedback_7_RatingCell_4{background: url(../../themes/ASOSDeskUIV2/images/rating/rate4.jpg) 0 0 no-repeat;width: 40px;height: 40px;margin-right: 10px;display: inline-block;float: left;}
#rn_Answer_Feedback_7_RatingCell_4:hover{background: url(../../themes/ASOSDeskUIV2/images/rating/rate4_h.jpg) 0 0 no-repeat;width: 40px;height: 40px;}
#rn_Answer_Feedback_7_RatingCell_5{background: url(../../themes/ASOSDeskUIV2/images/rating/rate5.jpg) 0 0 no-repeat;width: 40px;height: 40px;margin-right: 10px;display: inline-block;float: left;}
#rn_Answer_Feedback_7_RatingCell_5:hover{background: url(../../themes/ASOSDeskUIV2/images/rating/rate5_h.jpg) 0 0 no-repeat;width: 40px;height: 40px;}
.rn_asosbookmark.rn_SocialBookmarkLink{}
.rn_SocialBookmarkLink a{color:#222;text-decoration:none;}
.rn_SocialBookmarkLink a:hover{white-space:normal;}
.rn_SocialBookmarkLink a:hover span{text-decoration:underline;}
.rn_SocialBookmarkLink .rn_Panel{width:70px;}
.rn_SocialBookmarkLink span.rn_Link1 a{background-position:-56px -48px;}
.rn_SocialBookmarkLink span.rn_Link2 a{background-position:-25px -48px;padding-top:11px;padding-left:19px;}
.rn_SocialBookmarkLink span.rn_Link3 a{background-position:0 -96px;}
.rn_SocialBookmarkLink span.rn_Link4 a{background-position:0 -48px;}
.rn_asosbookmark{width:60px;float:right;margin-top:12px;}
.rn_SocialBookmark.rn_asosbookmark{}
.rn_SocialBookmarkLink span.rn_Link1 a{display:inline-block;width:43px;height:43px;background-image:url('images/icons/facebookicon.jpg');background-position:none;float:left;}
.rn_SocialBookmarkLink span.rn_Link2 a{display:inline-block;width:35px;height:35px;background-image:url('images/icons/twittericon.jpg');background-position:none;float:left;}
.rn_SocialBookmarkLink span.rn_Link1 a{background-position:0px 0px;background-repeat:no-repeat;}
.rn_SocialBookmarkLink span.rn_Link2 a{background-position:0px 0px;background-repeat:no-repeat;}
.rn_SocialBookmarkLink .rn_Panel{display:inline-block;float:left;width:114px;}
.rn_asosbookmark{display:inline-block;}
.rn_SocialBookmark.rn_asosbookmark{display:inline-block;width:100px;}
.rn_Link1{width:50px;display:inline-block;float:right;}
.rn_Link2{width:50px;display:inline-block;float:left;}
.rn_asosbookmark{margin-top:0px;}
.rn_PrintPageLink{margin-right:10px;}
.rn_PrintPageLink a img{border:none;vertical-align:middle;}
.rn_PrintPageLink{margin-right:0px;}
.rn_PrintPageLink a{color:#222;text-decoration:none;}
.rn_PrintPageLink a:hover{white-space:normal;}
.rn_PrintPageLink a:hover span{text-decoration:underline;}
.rn_AttachmentDropdown{}
#attachement_div_main{display:inline-block;width:100%;background-color:rgb(243,243,243);padding:15px;}
#attachement_div_main h3{display: inline-block;width: 100%;font-size: 16px;letter-spacing:0.1em;text-transform: uppercase;padding-left: 35px;margin-top: 10px;background-image: url("../../themes/ASOSDeskUIV2/images/icons/attachmenticon.jpg");background-repeat: no-repeat;background-position: 0px 0px;height: 30px;margin-bottom:0px;}
#attach_heading{margin-top:10px;margin-bottom:5px;display:inline-block;width:100%;font-size:15px;font-weight:bold;}
#attach_select{display:inline-block;width:275px;border:2px solid black;padding:10px;font-size:15px;}
@media screen and (-webkit-min-device-pixel-ratio:0){#attach_select{line-height: 40px;text-indent: 10px;}
}
#download_button{display: inline-block;width: 235px;background-color: #000;font-size: 18px;text-transform: uppercase;color: #FFF;font-weight: bold;padding-top: 12px;padding-bottom: 12px;padding-left: 20px;padding-right: 20px;text-align: center;text-decoration: none;margin-top: 15px;font-family:"futura-pt",Tahoma,Arial,Verdana,sans-serif;letter-spacing:1.8px;}
#attachement_div_main{margin-bottom:20px;display:inline-block;}
#attachement_div_main{display:none;}
#rn_FileAttach{display:none;}
#attach_select{width: 90%;}
#download_button{width: 80%;padding-left: 5%;padding-right: 5%;}
#attachement_div_main{padding: 5%;width: 100%;}
.rn_RelatedAns .rn_RelatedAnswers{}
.rn_RelatedAns{padding: 10px 0;font-size: 16px;text-decoration: none;padding-top: 0px;padding-bottom: 0px;}
.rn_RelatedAns h2{font-size: 16px;}
.rn_RelatedAns ul{padding-top: 4px;}
.rn_RelatedAns a{color: #2d2d2d;text-decoration: none;margin-bottom: 5px;display: inline-block;vertical-align: top;font-size: 16px;letter-spacing: 0.5px;line-height: 24px;}
.rn_RelatedAns a:hover{text-decoration: underline;}
.h2headerorange1{padding-bottom: 3px;}
.rn_RelatedAns ul li{margin-top: 15px;}
#div_AnswerDetail_Layout_2box_left_in p[style]{font-family: "futura-pt", Tahoma, Arial, Verdana, sans-serif !important;font-size: 16px !important;}
#div_AnswerDetail_Layout_2box_left_in a[style]{text-decoration: underline !important;color: #2d2d2d !important;}
#div_AnswerDetail_Layout_2box_left_in p[style]{font-family: "futura-pt", Tahoma, Arial, Verdana, sans-serif !important;font-size: 16px !important;}
#div_AnswerDetail_Layout_2box_left_in span[style]{font-family: "futura-pt", Tahoma, Arial, Verdana, sans-serif !important;font-size: 16px !important;}
#div_AnswerDetail_Layout_2box_left_in a[style]{text-decoration: underline !important;color: #2d2d2d !important;}
#div_AnswerDetail_Layout_2box_left_in a:hover[style]{text-decoration: underline !important;}
#div_AnswerDetail_Layout_2box_left_in ul li[style]{font-family: "futura-pt", Tahoma, Arial, Verdana, sans-serif !important;font-size: 16px !important;}
#div_AnswerDetail_Layout_2box_left_in div[style]{font-family: "futura-pt", Tahoma, Arial, Verdana, sans-serif !important;font-size: 16px !important;}
#div_AnswerDetail_Layout_2box_left_in span[style]{font-family: "futura-pt", Tahoma, Arial, Verdana, sans-serif !important;font-size: 16px !important;}
#div_AnswerDetail_Layout_2box_left_in p[style]{font-family: "futura-pt", Tahoma, Arial, Verdana, sans-serif !important;font-size: 16px !important;}
#div_AnswerDetail_Layout_2box_left_in h3[style]{font-family: "futura-pt", Tahoma, Arial, Verdana, sans-serif !important;font-size: 16px !important;}
#div_AnswerDetail_Layout_2box_left_in h2[style]{font-family: "futura-pt", Tahoma, Arial, Verdana, sans-serif !important;font-size: 16px !important;}
#div_AnswerDetail_Layout_2box_left_in h1[style]{font-family: "futura-pt", Tahoma, Arial, Verdana, sans-serif !important;font-size: 16px !important;}
#div_AnswerDetail_Layout_2box_left_in strong[style]{font-family: "futura-pt", Tahoma, Arial, Verdana, sans-serif !important;font-size: 16px !important;}
.rn_Yourordersbox{}
#rn_Yourordersbox_div_main{padding: 20px;background-color: #FFF4F3;margin-bottom:20px;}
#nlg_header{display: inline-block;font-size: 16px;font-weight: bold;text-transform: uppercase;text-align: left;width: 100%;margin: 0px;margin-bottom:15px;}
#nlg_msg{color: #000;text-decoration: none;margin-bottom: 5px;display: inline-block;vertical-align: top;font-size: 16px;letter-spacing: 0.3px;}
#nlg_button{display:inline-block;width:100%;text-align:center;margin-top:15px;}
#nlg_button a{font-size: 14px;text-transform: uppercase;width: 220px;border: 2px solid #DEDEDE;text-decoration: none;color: #000;padding: 13px 20px;background-color: #FFF;display: inline-block;font-weight:bold;letter-spacing:2px;}
.rn_FileListDisplay .rn_DataLabel{float:left;font-weight:bold;}
.rn_FileListDisplay .rn_DataValue{margin-left:180px;}
.rn_FileListDisplay .rn_DataValue ul{clear:none;}
.rn_FileListDisplay .rn_DataValue.rn_LeftJustify{clear:left;margin-left:0;padding-bottom:.5em;}
.rn_FileListDisplay .rn_FileSize{font-style:italic;padding-left:4px;}
.rn_ProductCategoryDisplay .rn_DataLabel{float:left;font-weight:bold;}
.rn_ProductCategoryDisplay .rn_DataValue{margin-left:180px;}
.rn_ProductCategoryDisplay .rn_DataValue ul{clear:none;}
.rn_ProductCategoryDisplay .rn_DataValue.rn_LeftJustify{clear:left;margin-left:0;padding-bottom:.5em;}
.rn_IncidentThreadDisplay .rn_ThreadContent{word-wrap:break-word;}
.rn_IncidentThreadDisplay p.MsoNormal, .rn_IncidentThreadDisplay li.MsoNormal, .rn_IncidentThreadDisplay div.MsoNormal{margin:0;}
.rn_IncidentThreadDisplay p.MsoListParagraph, .rn_IncidentThreadDisplay li.MsoListParagraph, .rn_IncidentThreadDisplay div.MsoListParagraph{margin: 0 0 0 48px;}
.rn_IncidentThreadDisplay .rn_ThreadHeader{background-color:#EEE;border: 1px solid #CCC;text-shadow: 0px 1px 1px #FFF;font-size:1.083em;font-weight:bold;padding:0.25em;position:relative;}
.rn_IncidentThreadDisplay .rn_ThreadHeader .rn_ThreadTime{position:absolute;right:1em;}
.rn_IncidentThreadDisplay .rn_ThreadHeader.rn_Customer{background-color:#CCC;}
.rn_IncidentThreadDisplay .rn_ThreadContent{background-color:#FFF;border:1px solid #DDD;border-width:0 1px 1px;color:#404040;font-size:1em;margin-bottom:0px;overflow-y:hidden;overflow-x:auto;padding:1em 10px;}
@media print{.rn_IncidentThreadDisplay .rn_ThreadContent{overflow:visible;}
  .rn_IncidentThreadDisplay .rn_ThreadHeader{*overflow: hidden;}
  .rn_IncidentThreadDisplay .rn_ThreadTime{*float: right;*position: static;}
  .rn_IncidentThreadDisplay .rn_ThreadAuthor{*float: left;}
}
.rn_FieldDisplay .rn_DataLabel{float:left;font-weight:bold;}
.rn_FieldDisplay .rn_DataValue{margin-left:180px;word-wrap:break-word;}
.rn_FieldDisplay .rn_DataValue.rn_LeftJustify{clear:left;margin-left:0;padding-bottom:.5em;}
