@import "../../../styles/colors.css";
@import "../../../styles/typography.css";
@import "../../../styles/icons.css";
@import "../../../styles/viewports.css";
@import "../../../styles/layout.css";

.cookieDisclaimer {
  display: block;
  background-color: #2d2d2d;
  height: fit-content;
  box-sizing: border-box;
  border-bottom: solid 1px #666;
  z-index: 9501;
  position: relative;
}

.container {
  max-width: 1366px;
  overflow: hidden;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  box-sizing: border-box;
  font-size: 0;
  color: var(--white-three);
  align-items: center;
}

.summary {
  @apply (--body-text);

  text-align: center;
  display: inline-block;
  margin: 16px;
  align-self: center;
  line-height: 1.29em;
  padding: 0 16px;
  width: 100%;
}

.readMore {
  color: inherit;
  margin-left: 0.2rem;
  font-weight: 900;
  text-decoration: none;
  display: inline-block;
}

.closeButton {
  width: 23px;
  height: 23px;
  background-image: svg-inline(close);
  background-size: 15px;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 16px;
  bottom: 0;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    padding: 0 16px;
  }

  .readMore {
    display: inline;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 30px;
  }

  .readMore {
    display: inline;
  }
}
