@import "../../../styles/viewports.css";
@import "../../../styles/colors.css";
@import "../../../styles/accessibility.css";

.link {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  padding-right: 12px;
  align-self: flex-start;
}

.link:focus {
  outline: none;     box-shadow: inset 0 0 3px 1px #0770cf;
}

.link svg {
  margin-top: 13px;
}

@media (min-width: 768px) {
  .link svg {
    margin-top: 15px;
  }
}

@media (min-width: 1024px) {
  .link {
    padding-right: 18px;
  }
}
