@import "../../styles/typography.css";
@import "../../styles/colors.css";
@import "../../styles/viewports.css";
@import "../../styles/accessibility.css";
@import "../../styles/layout.css";

:root {
  --height: 50px;
}

.container {
  font-size: 0.75rem;
  font-family: futura-pt, sans-serif; letter-spacing: 0.4px;
  background-color: #ddd;
  color: #666;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding-left: 16px;
}

.body {
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.copyright {
  color: #2d2d2d;
  line-height: 50px;
  margin: 0;
  flex: 0 0 85px;
}

.links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  clip-path: polygon(0 0,calc(100% - 16px) 0,calc(100% - 16px) 100%,0 100%);
  text-align: right;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.links li {
  display: inline-block;
  position: relative;
}

.links li {
  padding-right: 1em;
}

.links li::after {
  content: "|";
  display: inline;
  position: absolute;
  right: 3px;
}

.links a {
  color: #2d2d2d;
  text-decoration: none;
  display: inline-block;
  padding: 0 4px;
}

.links a:focus {
  outline: none;     box-shadow: inset 0 0 3px 1px #0770cf;
}

.links a:hover,
.links a:focus {
  color: #2a52be;
}

li.hideOnSmallViewport {
  display: none;
}

@media (min-width: 768px) {
  .container {
    padding: 0;
  }

  .body {
    padding: 0 32px;
  }

  .links {
    margin-right: -16px;
  }

  li.hideOnSmallViewport {
    display: inline-block;
  }
}

@media (min-width: 1024px) {
  .container {
    font-size: 0.75em;
  }

  .body {
    max-width: 1366px;
    padding: 0 32px;
    width: 100%;
    box-sizing: border-box;
  }

  .links li {
    line-height: 50px;
  }
}
