
.container {
  height: 100%;
  width: 100%;
  max-width: 512px;
  margin: 0 auto;
}

.content {
  box-sizing: border-box;
  width: 100%;
  padding: 0 12px 36px;
}

.styleCount {
  font-family: futura-pt,sans-serif;
  font-size: 14px;
  letter-spacing: .5px;
  line-height: 20px;
  color: #999;
  text-align: center;
  margin: 0 0 4px;
  padding: 16px 0 0;
}

.productList {
  position: relative;
  display: block;
  overflow: visible;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--zindex-large);
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.5;
}

.loadSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -33px;
  margin-top: -33px;
  z-index: var(--zindex-xxsmall);
}

.spinnerWrapper {
  margin: 16px 0 0;
  height: 55px;
}

.loadButton {
  @apply --tertiary-button;

  width: 100%;
  max-width: 300px;
  display: block;
  margin: 16px auto 0;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.loadPrevious {
  margin-top: 32px;
  margin-bottom: 20px;
}

.loadButton:active {
  @apply --tertiary-button--hover;
}

@media (min-width: 768px) {
  .container {
    box-sizing: border-box;
    max-width: 1366px;
    padding: 0 24px;
    margin: 0 auto;
  }

  .content {
    padding: 0 0 36px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
