@import "../../../../../styles/colors.css";

.dotContainer {
  position: relative;
  height: 20px;
}

.dotItem {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #999;
  padding: 0;
  cursor: pointer;
  background-color: var(--white-three);
  vertical-align: top;
  outline: none;
}

.dot:last-child {
  margin-right: 0;
}

.dot__selected {
  background-color: #2d2d2d;
  border: 1px solid var(--white-three);
}
