@import "../../../styles/colors.css";
@import "../../../styles/typography.css";
@import "../../../styles/viewports.css";
@import "../../../styles/accessibility.css";

.container {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #ddd;
  align-items: center;
}

@media (min-width: 768px) {
  .container {
    padding-left: 0;
    padding-right: 24px;
    flex-basis: calc(30% - 1px);
    border-bottom: none;
    border-right: 1px solid #ddd;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-right: 32px;
  }
}

.flag {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.text {
  @apply --standard-font-size;

  color: #2d2d2d;
  font-family: futura-pt,sans-serif;
  letter-spacing: 0.4px;
  line-height: 24px;
  flex-basis: calc(100% - 40px);
}

.redirectLink,
.changeButton {
  @apply --h5-text;

  line-height: 1.67;
  color: #fff;
  background-color: #2d2d2d;
  text-decoration: none;
  padding: 4px 8px;
  margin: 8px 0 0 40px;
  border: none;

  &:focus {
    outline: none;     box-shadow: inset 0 0 3px 1px #0770cf;
  }
}
