@import "../../styles/colors.css";
@import "../../styles/viewports.css";
@import "../../styles/zindex.css";

:root {
  --modal-min-height: 250px;
}

.wrapper {
  position: relative;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 19001;
  overflow: auto;
}

.container {
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 100%;
  padding: 16px;
  position: relative;
  background-color: #fff;
  flex: auto;
}

.close {
  position: absolute;
  right: 2px;
  top: 2px;
  width: 44px;
  height: 44px;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .container {
    width: 634px;
    height: var(--modal-min-height);
  }
}

@media (min-width: 768px) {
  .wrapper {
    padding: 16px;
    align-items: center;
    display: flex;
  }

  .container {
    padding: 30px;
    padding-top: 25px;
    height: initial;
    max-width: 634px;
    min-height: var(--modal-min-height);
  }

  .close {
    right: 8px;
    top: 4px;
  }
}
