@import "../../styles/colors.css";
@import "../../styles/typography.css";
@import "../../styles/viewports.css";

.button {
  @apply --h4-text;
  @apply --small-font-size;

  background-color: var(--white-three);
  border: solid 2px #ddd;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  letter-spacing: 0.8px;
  line-height: 17px;
  padding: 3px 12px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  position:relative;
}

.button__isPrimary {
  background-color: #2d2d2d;
  border-color: #2d2d2d;
  color: #fff;

&:hover {
   background-color: var(#ffffff);
   border-color: var(#ffffff);
 }

&:disabled {
   background-color: var(#666666);
   border-color: var(#666666);
   color: #fff;
 }
}

.button__isSecondary {
  background-color: #fff;
  border-color: var(#666666);
  color: #2d2d2d;

&:hover {
   background-color: var(#333333);
   border-color: var(#666666);
 }

&:disabled {
   color: var(#666666);
   background-color: #fff;
   border-color: var(#666666);
 }
}

.button__isTertiary {
  background-color: var(#333333);
  border-color: var(#333333);
  color: #2d2d2d;

&:hover {
   background-color: var(#666666);
   border-color: var(#666666);
 }

&:disabled {
   background-color: var(--gray-10);
   border-color: var(--gray-10);
 }
}

.button__isGreen {
  background-color: var(--green);
  border-color: var(--green);
  color: #fff;

&:hover {
   background-color: var(--dark-green);
   border-color: var(--dark-green);
 }
}

.button__hasInvertedSize {
  height: 44px;
  padding: 3px 30px;
}

.content {
  visibility: unset;
  width: 100%;
}

.content__isHidden {
  visibility: hidden;
}

.spinner {
  position:absolute;
  left: 50%;
  top: 50%;
  margin-left: -11px;
  margin-top: -11px;
}

@media (min-width: 768px) {
  .button__hasInvertedSize {
    height: 32px;
    padding: 3px 30px;
  }
}

