
.container {
  @apply --h6;

  position: absolute;
  left: 0;
  bottom: 16px;
  padding: 5px 7px;
  max-width: 70%;
  background-color: var(--badge-background);
  color: #2d2d2d;
  text-transform: uppercase;
}
