
.container {
  position: relative;
  font-size: 0;
  margin-bottom: 9px;
  background-color: #eee;
  display: block;
}

.container img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.container::before {
  content: "";
  display: block;
  width: 100%;
  position: relative;
  padding-top: 127.7778%;
}
