.ul {
  padding: 10px;
}

.listTitle {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.sortItem {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 44px;
  margin-bottom: 8px;
}

.sortItem:last-child {
  margin-bottom: 0;
}

.sortLink {
  font-family: futura-pt,sans-serif;
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  line-height: 1.12;
  border-radius: 5px;
  background-color: #fff;
  height: 100%;
  box-sizing: border-box;
  padding: 14px;
  display: block;

  position: relative;
  text-decoration: none;
}
.sortLink,
.sortLink:hover,
.sortLink:active,
.sortLink:visited {
  color: #2d2d2d;
}

.sortLink:hover {
  box-shadow: -2px 2px 2px 0 rgba(0,0,0,.09);
}

.sortLink .checkbox {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 14px;
  margin-top: 1px;
  border-radius: 50%;
  border: solid 1px #999;
}

.sortLink[aria-current="true"] {
  font-weight: 700;
  background-color: #0770cf;
  color: #fff;
}

.sortLink[aria-current="true"] .checkbox {
  border-color: #fff;
}

.sortLink[aria-current="true"] .checkbox::after {
  content: "";
  height: 9px;
  width: 9px;
  background-color: #fff;
  border-radius: 50%;
  margin: 3px auto;
  display: block;
}

.screenReader {
  @apply --screen-reader;
}

.sortList {
  padding: 10px;
}
